.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar-list li{
  display:inline;
  padding:10px;
  font-size:25px;
}
#h-welcome1{
 
  margin-top:10%;
  font-family:Roboto;
  font-size:60px;
}

body{
  background-image: url("https://i.imgur.com/1vOtoat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}