#main_page{
    margin-top:20px;
}

#chein_form{
     float:left;
margin-left:1%;
   
}
#add-new-car-nav-link{
    visibility: hidden
}
#container{
     width:10%;
    height:10%;
}

#go_to_add_car{
    float:left;
    margin-left:1%;
}

#div-disponibilitate{
    position:fixed;
    left:20px;
}
#id-lista{
    position:fixed;
   top:1%;
    right:10%;
}
#btn_add_car{
    float:left;
margin-left:1%;
}
#h-adauga-checkin{
   text-align:left;
}

