
body{width:100%;height:700px;margin:0;padding:0; }
#space > div{margin:auto;margin-top:10%;font-family: 'Roboto', sans-serif;}



#login_f>#l_email,#login_f>#l_password,#login_f>#l_login{width:250px;margin-left:125px !important;margin-top:20px;height:25px;}
#nav-link{
    visibility: hidden
}
#login_div{
    margin-top:20px;
}

#button_div{
    margin-top:20px;
}

#login_container{
    margin-top:100px;
    height:50%;
}