
.map-cointainer > div {
    /*padding: 150px 150px 150px 150px;*/
   
    padding-top: 200px;
    width:50%;
    height:50%;
    margin: 0 auto;
   
}
#map-container{
    width:10%;
    height:10%;
}
#map{
    clear: both;
    width:10%;
    height:10%;
}

#div-map-cointainer {
    width:50px;
    height:50px;
}
#chein_form{
    float: left;
    clear:both;
}


#div-map-cointainer.div {
    /*padding: 150px 150px 150px 150px;*/
   position:fixed;
   bottom:0px;
    
    height:50%;
   /* margin: 0 auto;
   */
}
