#id-lista {
    float:left;
    /*margin-left:auto; margin-right:0;*/
}
#id-lista li{
   text-align:left;
    /*margin-left:auto; margin-right:0;*/
}
#id-lista ul{
   text-align:left;
   margin-right: 10px;
    /*margin-left:auto; margin-right:0;*/
}
#header-disponibilitate{
    text-align:left;
}